version: '2'
services:
   grpc:
      container_name: grpc
      build: ../grpc/
      expose:
         - "50051"

   localhost:
      container_name: localhost
      volumes_from:
         - grpc:ro
      build: .
      links:
         - grpc
      environment:
         - API_HOST=grpc
         - API_PORT=50051
      expose:
         - "8080"
   script:
      build: ../script/
      links:
         - localhost
